<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
<parameter name="Browser" value="Chrome"></parameter>
  <test name="Test">
    <classes>
      <class name="pages.BasePage"/>
    </classes>
    <classes>
    <class name ="testcases.TestCase1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->